/* Shared Style Section */

.btn-primary {
    background-color: red;
    color: #ffff;
    padding: 12px 40px 12px 12px;
    width: 150px;
    border-radius: 5px;
    border: 0px;
}


body {
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px, 127px, 0px, 135px;
    padding-left: 135px;
    padding-right: 127px;
    padding-top: 30px;

}

.nav-bar {
    display: flex;
    gap: 10px;
}
.nav-bar h3{
  font-size: 36px;
}
.nav-bar img{
    margin-top: 37px;
}
.travel {
    color: red;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 44px;

}

nav li a {
    text-decoration: none;

}

.banner-content {

    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 7%;
    color: #ffff;
    background-image: url('./Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: 1140px;
    border-radius: 25px;
    height: 575px;
}

.banner-content h1 {
    font-size: 55px;
    line-height: 15px;

}

.banner-content p {
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 676px;
    height: 52px;
}

.banner-content form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 8px;
    border: 0px solid white;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.30);
    margin-bottom: 10%;
}

.btn-one {
    padding: 10px 40px 10px 10px;
    width: 135px;
    border-radius: 5px;
}

.btn-two {
    padding: 10px 50px 10px 10px;
    width: 190px;
    border-radius: 5px;
    border: 0px;
}

.btn-three {
    padding: 10px 40px 10px 10px;
    width: 165px;
    border-radius: 5px;
    border: 0px;
}

.popular-tours {
    display: flex;
    gap: 53px;
    margin: 8%;

}

.popular-tours h1 {
    font-size: 45px;
    margin-bottom: 5px;
}

.popular-tours p {
    margin-bottom: 45px;
}

.popular-tours li {
    margin-bottom: 25px;
}

.popular-tours img {
    margin-top: 60px;

}


/* Destination section */
.destination-Section-h3 {
    text-align: center;
    color: black;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5 rem;

}

.destination-Section-p {
    text-align: center;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    max-width: 643px;
    margin: 1.5rem auto 3rem auto;

}

.grid {
    position: relative;
}

.grid img {
    object-fit: cover;
}

.grid h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -100%);

}

.destination-Section-pic {
    display: grid;
    grid-template-areas:
        'item-one item-one item-one item-one item-one item-one item-two item-two item-two item-two item-two item-two'
        'item-three item-three item-three item-three item-four item-four item-four item-four item-four  item-five item-five item-five'
        'item-six item-six item-six item-six item-six item-seven item-seven item-seven item-seven item-seven item-seven item-seven'
    ;
    gap: 1rem;
    color: #ffff;
    font-size: 1.75rem;
    padding: 7%;
}

.pic-item-one {
    grid-area: item-one;
}

.pic-item-two {
    grid-area: item-two;
}

.pic-item-three {
    grid-area: item-three;
}

.pic-item-four {
    grid-area: item-four;
}

.pic-item-five {
    grid-area: item-five;
}

.pic-item-six {
    grid-area: item-six;
}

.pic-item-seven {
    grid-area: item-seven;
}







.why-choose {
    text-align: center;
}

.why-choose h2 {
    font-family: Mulish;
    font-size: 35px;
    font-weight: 800;
    line-height: 50px;
}

.hotel {
    margin-left: 5%;
    display: flex;

}

.hotel-one {
    border-radius: 15px;
    padding: 5%;
    margin: 2%;
    width: 40%;
    background-color: rgb(248, 244, 244);
    ;

}

.hotel-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.simple-tours {
    display: flex;
    gap: 53px;
    margin: 8%;

}

.simple-text {
    margin-top: 15px;
}

.simple-tours h1 {
    font-size: 37px;

}

.simple-tours p {
    margin-bottom: 25px;
}

.simple-tours img {
    margin-top: 60px;
}


.newsletter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    gap:2rem;
    padding: 8%;
}

.news-title {
    border-radius: 16px;
    border: 1px solid red;
    padding: 2.5rem;
}

.news-title-h4 {
    font-size: 1.5rem;
    font-weight: 800;
}
.news-title-p{
    margin-top: 1.5rem;
    font-weight: 400;
}
.news-title-hr{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.news-btn-primary{
    background-color: red;
    color: #ffff;
    padding: 12px 40px 12px 12px;
    width: 150px;
    border-radius: 5px;
    border: 0px;
    width: 100%;
}
.news-title form input{
    padding: 1rem;
    border: none;
    width: 95%;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 1rem;
    border-radius: 8px;
}
.discount-section{
    position: relative;
}
.discount-section-save{
    position: absolute;
    right: 5px;
    bottom: 50px;
    background-color: red;
    /* padding: 1rem; */
    border-radius: 1rem;
    color: white;
    transform: rotate(-17.628deg);
    
}
.discount-section p{
    text-align: center;
    font-weight: 700;
    line-height: 2px;
    padding-top: 15px;
}
.discount-section h4{
    font-size: 2rem;
    font-weight: 200;
    line-height: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

.footer-icon {
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
}